<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">TV</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">

      <div class="col-xs-6 navbar-search">
        <div class="input-group">
          <input type="text" class="navbar-search-input form-control" placeholder="Ищите каналы, авторов или зрителей" aria-describedby="sizing-addon2">
          <span class="input-group-addon glyphicon glyphicon-search" id="sizing-addon2"></span>
        </div>
      </div>

      <div class="navbar-user">

        <a class="navbar-username" href="{{ 'Users/' + user.login }}">
          <div class="avatar"></div>
          <span>{{user.name}}</span>
        </a>

        <button class="btn btn-default show-messages glyphicon glyphicon-envelope"
                title="{{::i18n('nav-show-messages')}}"
                ng-click="messagebox.isOpened = !messagebox.isOpened">

        </button>
        <span class="messages-count small indicator">10</span>

        <div class="messagebox" ng-show="messagebox.isOpened">

          <button class="btn" ng-bind="::i18n('mark-all-as-read')"></button>
          <button class="btn" ng-bind="::i18n('new-message')"></button>

          <div class="count">
            <span ng-bind="::i18n('messages')"></span>
            <span ng-bind="messages.length || 0 | brackets"></span>
          </div>

          <ul>
            <li class="message" ng-repeat="message in messages track by message.id">
              <div class="avatar col-xs-1"
                   ng-style="{ 'background-image': 'url(' + message.from.avatarUrl + ')' }"></div>
              <div class="col-xs-11">
                <div class="message-from" ng-bind="message.from.name"></div>
                <div class="message-text" ng-bind="message.text"></div>
                <div class="message-date" ng-bind="message.dateTime | dateTime"></div>
              </div>
            </li>
          </ul>

          <button class="btn show-all" ng-bind="::i18n('show-all-messages')"></button>
        </div>

        <button class="btn btn-default show-friends-requests glyphicon glyphicon-user"
                title="{{::i18n('nav-show-friends-requests')}}"></button>
        <span class="friends-requests-count small indicator">2</span>

        <button class="btn btn-default show-notifications glyphicon glyphicon-globe"
                title="{{::i18n('nav-show-notifications')}}"></button>
        <span class="notifications-count small indicator">100</span>

        <button class="btn btn-default show-confidentiality-settings glyphicon glyphicon-th-list"
                title="{{::i18n('nav-show-confidentiality')}}"></button>

      </div>
    </div>

  </div>
</div>
