$avatar-size: 32px;
$user-bar-color: #dedede;
$bar-height: 50px;
$light-blue: #50b4ff;
$dark-blue: #2e94c5;

.navbar-default {
  border: 0;
}

.navbar {
  background: #7c7c7c;
  vertical-align: middle;

  .navbar-brand {
    color: #FFF;
  }

  #navbar-main {
    position: relative;
  }

  .navbar-search {
    height: $bar-height;

    .input-group {
      top: 50%;
      margin-top: -17px;
    }

    .navbar-search-input {
      min-width: 300px;
    }
  }

  .navbar-user {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    line-height: $bar-height;

    a {
      color: $user-bar-color;
    }

    .small {
      font-size: 60%;
    }

    .indicator {
      background: #F00;
      color: #000;
      margin-left: -5px;
      padding: 2px;
      border-radius: 2px;
      cursor: pointer;
    }

    .avatar {
      width: $avatar-size;
      height: $avatar-size;
      display: inline-block;
      background: url(/assets/images/avatar.png);
      vertical-align: middle;
    }

    button {
      margin-left: 10px;
      display: inline-block;
      background: transparent;
      border: 0;
      border-radius: 0;
      color: $user-bar-color;
      padding: 6px;
      font-size: 18px;
      outline: none;

      &:first-child {
        margin-left: 0;
      }

      &:active {
        box-shadow: none;
        outline: none;
      }
    }

    .messagebox {
      $show-all-height: 30px;
      $message-box-size: 450px;
      $triangle-size: 7px;

      position: absolute;
      background: #FFF;
      border: 1px solid $user-bar-color;
      font-size: 14px;
      text-align: left;
      color: #000;
      padding-bottom: $show-all-height;
      min-width: $message-box-size;
      min-height: $message-box-size;
      right: 0;
      line-height: 18px;
      margin-top: $triangle-size;

      .count {
        padding: 6px;
      }

      .message {
        padding: 5px;
        padding-bottom: 10px;
        border-bottom: 1px solid $user-bar-color;
        height: 65px;
        box-sizing: border-box;

        .avatar {
          width: $avatar-size;
          height: $avatar-size;
          display: inline-block;
          background-size: contain;
        }

        .message-from {
          font-weight: bold;
        }

        .message-date {
          color: #999;
        }

        &::before {
          position: absolute;
          display: inline-block;
          border-left: 7px solid transparent;  /* left arrow slant */
          border-right: 7px solid transparent; /* right arrow slant */
          border-bottom: 7px solid $user-bar-color; /* bottom, add background color here */
          right: 175px;
          top: -$triangle-size;
          content: "";
        }

        &::after {
          position: absolute;
          display: inline-block;
          border-left: 6px solid transparent;  /* left arrow slant */
          border-right: 6px solid transparent; /* right arrow slant */
          border-bottom: 6px solid #fff; /* bottom, add background color here */
          right: 176px;
          top: -$triangle-size + 1px;
          content: "";
        }
      }

      button {
        font-size: 14px;
        color: $dark-blue;
      }

      .show-all {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: $show-all-height;
        background: $light-blue;
        color: #000;
        margin: 0;
        width: 100%;
      }
    }
  }
}