<div ng-include="'components/navbar/navbar.html'"></div>

<header class="banner container" id="banner"
        ng-style="{ 'background-image': 'url(' + channel.bannerUrl + ')' }">

  <img class="channel-logo"
       ng-src="{{channel.logoUrl}}"
       alt="{{channel.name}}">
</header>

<div class="container content">

  <div class="row">

    <div class="col-lg-8 left-panel pnl">

      <div class="player"></div>

      <div class="discussion container-fluid" ng-show="!!discussingProgram && !!discussions.length">
        <header ng-bind='i18n("discussion") + " \"" + discussingProgram.title + "\" за 12 Января"'></header>
        <ul>
          <li class="discussion" ng-repeat="discussion in discussions track by discussion.id">
            <div class="col-xs-1 logo">
              <img ng-src="{{discussion.from.avatarUrl}}"
                   alt="{{discussion.from.name}}">
            </div>
            <div class="col-xs-11">
              <div class="discussion-title" ng-bind="discussion.from.name"></div>
              <div class="discussion-date" ng-bind="discussion.dateTime | dateTime"></div>
              <div class="discussion-text" ng-bind="discussion.text"></div>
              <ul class="discussion-replies">
                <li ng-repeat="reply in discussion.replies || [] track by reply.id">
                  <div class="col-xs-1 logo">
                    <img ng-src="{{reply.from.avatarUrl}}"
                         alt="{{reply.from.name}}">
                  </div>
                  <div class="col-xs-11">
                    <div class="discussion-title" ng-bind="reply.from.name"></div>
                    <div class="discussion-date" ng-bind="reply.dateTime | dateTime"></div>
                    <div class="discussion-text" ng-bind="reply.text"></div>
                  </div>
                </li>
              </ul>
              <button ng-bind="::i18n('reply')" ng-click="reply(discussion);"></button>
            </div>
          </li>
        </ul>
      </div>

      <div class="add-discussion panel">
        <header ng-bind="::i18n('discuss')"></header>
        <div class="col-xs-2 logo">
          <img ng-src="{{channel.logoUrl}}"
               alt="{{channel.name}}">
        </div>
        <div class="col-xs-10">
          <textarea
                  placeholder="{{::i18n('leave-comment')}}"
                  focus-on="!!discussingProgram && !!isCommenting"
                  on-enter="addComment(comment)"
                  ng-model="comment.text"></textarea>
        </div>
      </div>

    </div>

    <div class="col-lg-4 right-panel pnl">

      <div class="programs panel">
        <header ng-bind="::i18n('programs-header')"></header>
        <p class="date">
          {{currentDateProgram.date}}
          <span class="glyphicon glyphicon-calendar"></span>
        </p>
        <ul>
          <li ng-repeat="program in currentDateProgram.programs track by program.id"
              ng-class-odd="'odd'" ng-class-even="'even'">

            <button title="{{::i18n('discuss')}}"
                    class="discuss glyphicon glyphicon-envelope"
                    ng-click="discuss(program)"></button>

            <p class="time">{{program.time}}</p>
            <p class="title">{{program.title}}</p>
            <p class="description">{{program.description}}</p>
          </li>
        </ul>
      </div>

      <div class="this-week panel">
        <header ng-bind="::i18n('this-week-header')"></header>
        <div class="week-row">
          <span class="number col-xs-3">5</span><span class="col-xs-9">Новых подписчиков</span>
        </div>
        <div class="week-row">
          <span class="number col-xs-3">3</span><span class="col-xs-9">Новых обсуждений</span>
        </div>
        <div class="week-row">
          <span class="number col-xs-3">3612</span><span class="col-xs-9">Посещений канала</span>
        </div>
      </div>

      <div class="commercials">
        <ul>
          <li ng-repeat="1 in [1,2,3]" class="commercial"></li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="container reccomendations panel">
  <header ng-bind="::i18n('recommendations-header')"></header>
  <ul>
    <li ng-repeat="i in [1,2,3,4]" class="recommendation">
    </li>
  </ul>
</div>

<footer class="footer">
  <div class="container">
      <p>Pavel Kostenkov |
        <a href="mailto:pavel.kostenkov@gmail.com">pavel.kostenkov@gmail.com</a>
  </div>
</footer>
